* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

form {
  font-size: 1;
}

input, textarea, button, select, a {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

:root {
  --gap-small: 4px;
  --gap-xsmall: 8px;
  --gap-xxsmall: 16px;
  --gap-large: 24px;
  --gap-xlarge: 28px;
  --gap-xxlarge: 32px;
  --size_h: 48px;
  --size_h2: 16px;
  --size_h3: calc(var(--size_h2) / 2);
  --white_1: #ffffff;
  --blockBack: #f6f8fb;
  --blockBack_2: #f1f5f9;
  --gray_1: #b3bcc5;
  --gray_2: #e0e6ef;
  --blue_1: #005bff;
  --raspberry: #f91155;
}

body {
  color: #001a34;
  font-family: "GTEestiPro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}

@font-face {
  font-family: "GTEestiPro";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://wequbles.github.io/stroy/fonts/500gteestiprodisplay.otf) format("opentype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://wequbles.github.io/stroy/fonts/400inter.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://wequbles.github.io/stroy/fonts/600inter.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
html, body {
  background: var(--blockBack);
}

body {
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  height: 100vh;
  overflow: overlay;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.content > * {
  margin: 0 auto;
}

.logo {
  text-align: center;
}
.logo :first-child {
  font-size: 33.5px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.4px;
}
.logo :last-child {
  font-size: 7px;
  font-weight: 500;
  line-height: 11px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

h3 {
  text-align: center;
}
@media (max-width: 480px) {
  h3 {
    text-align: left;
  }
}

ul :not(:first-child) {
  margin-top: var(--gap-xxlarge);
}
ul li {
  position: relative;
  margin-left: var(--gap-xxsmall);
}
ul li:after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(-1 * var(--gap-xxsmall));
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: var(--size_h3);
  height: var(--size_h3);
  background: var(--blue_1);
  border-radius: 50%;
}

.strong {
  font-weight: 600;
}

.allocation {
  text-align: center;
}
.allocation > * {
  display: inline-block;
  padding: 12px 24px;
  border-bottom: 2px solid var(--blue_1);
  border-top: 2px solid var(--blue_1);
}

header {
  margin: 0 auto;
  padding: 26px 0;
  background: var(--blue_1);
}
header .logo {
  color: var(--white_1);
}

main {
  max-width: 480px;
  padding: var(--gap-xxlarge) var(--gap-large);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
}
main :not(:first-child) {
  margin-top: var(--gap-xxlarge);
}
main > ul {
  max-width: 360px;
  margin: 0 auto;
}