* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

form {
  font-size: 1;
}

input, textarea, button, select, a {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  color: #001a34;
  font-family: "GTEestiPro", sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: "GTEestiPro";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(fonts/100gteestiprodisplay.otf) format("opentype");
}
@font-face {
  font-family: "GTEestiPro";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(fonts/300gteestiprodisplay.otf) format("opentype");
}
@font-face {
  font-family: "GTEestiPro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/400gteestiprodisplay.otf) format("opentype");
}
@font-face {
  font-family: "GTEestiPro";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(fonts/500gteestiprodisplay.otf) format("opentype");
}
@font-face {
  font-family: "GTEestiPro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(fonts/700gteestiprodisplay.otf) format("opentype");
}
@font-face {
  font-family: "GTEestiPro";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(fonts/900gteestiprodisplay.otf) format("opentype");
}
.calculator #calcResult {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.4px;
}

html, body {
  background: rgb(246, 248, 251);
}

body {
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  height: 100vh;
  overflow: overlay;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: rgba(30, 30, 30, 0);
}

::-webkit-scrollbar-thumb,
::-webkit-resizer {
  border-radius: 2px;
  background-color: rgba(242, 228, 211, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(242, 228, 211, 0.4);
}

@media (max-width: 425px) {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

:root {
  --space: 24px;
  --space_btn: 44px;
  --white_1: #ffffff;
  --gray_1: #b3bcc5;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.4px;
  margin: 0 0 var(--space);
}

form {
  max-width: 470px;
}
form li {
  margin: 25px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
}
form li:last-child {
  margin: var(--space_btn) 0 0;
}
form label {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
form select {
  height: 60px;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.4px;
  border: 2px solid var(--gray_1);
  border-radius: 4px;
}
form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
}

button {
  max-width: 210px;
  height: 60px;
  background: rgb(0, 91, 255);
  border-radius: 2px;
  color: var(--white_1);
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

input[type=text], input[type=tel], input[type=password], input[type=email], input[type=number] {
  padding: 0 18px 0;
  width: 100%;
  height: 60px;
  border: 2px solid var(--gray_1);
  border-radius: 4px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.4px;
}
input[type=text]::-webkit-input-placeholder, input[type=tel]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, input[type=number]::-webkit-input-placeholder {
  color: var(--gray_1);
  font-weight: 400;
}
input[type=text]:-moz-placeholder, input[type=tel]:-moz-placeholder, input[type=password]:-moz-placeholder, input[type=email]:-moz-placeholder, input[type=number]:-moz-placeholder {
  color: var(--gray_1);
  font-weight: 400;
}

input[type=range] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 16px;
  border-radius: 20px;
  cursor: pointer;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 16px;
  width: 100%;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  height: 26px;
  width: 26px;
  margin-top: -5px;
  background: rgb(248, 17, 85);
  border: 4px solid var(--white_1);
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  cursor: move;
}
.input_group {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.input_group input {
  padding: 18px 10px 6px;
  height: auto;
}
.input_group input:focus ~ label, .input_group input:valid ~ label {
  font-size: 12px;
  line-height: 14px;
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}
.input_group label {
  position: absolute;
  top: 17px;
  left: 11px;
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: var(--gray_1);
  font-weight: 400;
}

main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 28px;
}
main > article {
  margin: var(--space) 0 0;
  background: var(--white_1);
  border-radius: 4px;
  padding: 24px;
}

.hero {
  padding: 24px;
  background: linear-gradient(139deg, #005BFF 0.14%, #54C1FF 100%);
}

.calculator #areaInput {
  width: 110px;
}
.calculator #areaRange {
  max-width: 668px;
  margin: 15px 0 0;
}
.calculator #calcResult {
  margin: 33px 0 0;
}